{% extends 'Users/base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<hr style="background-color: grey;">
<div class="container">
    <p class="text-secondary">Enter your national ID or user account's verified email address and we will send you a
        password reset link.</p>

    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <button class="btn btn-success btn-block text-dark" style="margin: 20px 0 0; font-weight: 500;"
            type="submit">Send password reset
            email</button>
    </form>
</div>

{% endblock %}