{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html {% if LANGUAGE_CODE == 'en' %}lang="en"{% else %}lang="ar" dir="rtl"{% endif %}>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}} | {% trans "Fikrat Shaay" %}</title>
    <!-- Bootstrap RTL support cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'back_office/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'back_office/assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'back_office/assets/css/style.css' %}">
    <!-- End layout styles -->

    <!-- ============== Start favicon ============== -->
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon.png '%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png '%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png '%}">
    <link rel="manifest" href="{% static 'images/site.webmanifest '%}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg '%}" color="#333333">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-TileImage" content="{% static 'images/mstile-144x144.png '%}">
    <meta name="theme-color" content="#333333">
    <!-- ============== End favicon ============== -->
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title {% if LANGUAGE_CODE == 'en' %}text-left{% else %}text-right{% endif %} mb-3">{% if title %}{{ title }}{% else %}
                                {% trans "Sign in" %}{% endif %}
                            </h3>

                            {# COMMINT #}
                            {% include 'common/messages.html' %}

                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'back_office/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'back_office/assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'back_office/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'back_office/assets/js/misc.js' %}"></script>
    <script src="{% static 'back_office/assets/js/settings.js' %}"></script>
    <script src="{% static 'back_office/assets/js/todolist.js' %}"></script>
    <!-- endinject -->
</body>

</html>